//
//  {{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

final class {{ module_info.name }}Assembly {
    class func createModule() -> {{ module_info.name }}ViewController {
        let vc = {{ module_info.name }}ViewController()
        let presenter = {{ module_info.name }}Presenter()
        let router = {{ module_info.name }}Router()

        presenter.view = vc
        vc.handler = presenter
        vc.router = router

        router.viewController = vc

        return vc
    }
}
